# Node.js (frontend)
node_modules/
dist/
*.log
.vite/
.env
.env.*.local

# Python (backend)
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
venv/
ENV/
env/
*.egg-info/



# System files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Logs
*.log

# Other
*.zip
